$color-white: #fff;
$color-silver: silver;
$color-bright-pink: #fe0096;
$color-dark-pink: #c50052;
$color-error: #ff0000;
$color-info: rgba(0, 217, 255, 0.897);
$color-black: #000;

$header-height: 10rem;

$fs-h1: 3rem;
$fs-h2: 2.5rem;
$fs-h3: 2rem;
$fs-h4: 1.5rem;
$fs-h5: 1rem;
